<h2>Update the recipe</h2>
<form action="/private/recipes/{{id}}/edit" method="POST">
    <label for="title">title:</label>
    <input type="text" name="title" value="{{title}}" required>

    <label for="ingredent">ingredent:</label>
    <input type="text" name="ingredent" value="{{ingredent}}" required>

    <label for="cuisines">cuisines:</label>
    <input type="text" name="cuisines" value="{{cuisines}}" required>

    <label for="dishType">dishType:</label>
    <input type="text" name="dishType" value="{{dishType}}" required>

    <label for="readyInMinutes">readyInMinutes:</label>
    <input type="number" name="readyInMinutes" min="0" value="{{readyInMinutes}}" required>

    <label for="author">author:</label>
    <input type="text" name="author" value="{{author}}" required>

     
    <label for="image">image:</label>
    <input type="text" name="image" value="{{image}}" required>

    <label for="summary">summary:</label>
    <input type="text" name="summary" value="{{summary}}" required>

    <button type="submit">Edit</button>
</form>

{{#if error}}
<p>{{error}}</p>
{{/if}}